.archivesspace-connector-inputs { 
    display: flex; 
    flex-direction: column;
}

.archivesspace tbody th {
    border-bottom: 1px solid #dfdfdf;
}

.archivesspace td.archivesspace-comment {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}