.archivesspace-connector-inputs { 
    display: flex; 
    flex-direction: column;
}

.archivesspace tbody th {
    border-bottom: 1px solid #dfdfdf;
}

.archivesspace td.archivesspace-comment {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.archivesspace .tablesaw td:first-of-type {
    background: transparent !important;
}

@media screen and (max-width: 640px) {
    .archivesspace .tablesaw tbody th {
        background-color: rgba(0,0,0,.04);
    }
}